<%= form_with(model: @company, local: true) do |form| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <table>
      <tbody>
      <tr>
        <td>ID
          <%= @company.id %>
        </td>
      </tr><tr>
        <td>Created at
          <%= @company.created_at %>
        </td>
      </tr><tr>
        <td>Updated at
          <%= @company.updated_at %>
        </td>
      </tr>
        <% @company.attributes.reject { |a, _| %w[id created_at updated_at].include? a }.each do |key, val| %>
          <tr>
            <td>
            <%= form.label key.to_sym %>
            <%= form.text_field key.to_sym %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
